.main-homepage {
    width: 100%;
    height: calc(100vh - 10px);
    background-image: url("https://images.squarespace-cdn.com/content/v1/59442af1893fc09c8f9b8ae6/1497718545819-HOIDJKWECEQ1TGRCYSS3/042a5033205493.56ab9131be5ca.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    
    
}

.main-content {
    width: 100%;
    height: calc(100vh - 330px);
    margin: 0;
}

.homepage-footer .footer-item > a:hover{
    color: white;
}

.homepage-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: auto;
}
.text-white{
    margin-top: 250px;
    
}